article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.container {
    width: 95%;
    max-width: 95%;
}

.d-flex {
    display: flex !important;
}